.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    padding: 12px;
    & .header-log{
        display: flex;
    }
}

.header-container {
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 16px;
}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
